@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  /* outline: 2px red solid; */
  margin: 0;
  padding: 0;
}

/* design for all container section */
.container {
  width: 82%;
  max-width: 1320px;
  margin: 40px auto;
  height: 600px;
}

/* header related styles */

/* specific banner related styles */

.banner {
  background-image: url("../images/Banner\ Image.png");
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 90%;
}

.happynewyearbanner {
  padding: 233px 344px 177px;
}

.happynewyearbanner h3 {
  color: #fff;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.happynewyearbanner h2 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  width: 632px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.categories-section {
  max-width: 400px;
  width: 75%;
  margin: 100px auto;
}

.category-text * {
  text-align: center;
  margin-bottom: 40px;
}

.category-text h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.category-text h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.category-text h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.category-img img {
  width: 100%;
  text-align: center;
}

.midnight {
  background-image: url("../images/Vectorrr.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 100px;
  display: flex;
  padding-left: 126px;
  justify-content: space-around;
  width: 80%;
}

.midnight-text * {
  margin-bottom: 24px;
}

.midnight-text h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  width: 642px;
}

.midnight-text h3 {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.midnight-text button {
  color: red;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

.midnight-text .midnightimg img {
  width: 100%;
}

.placedate-main {
  background-color: coral;
  height: 400px;
}

.placedatetext {
  padding-top: 100px;
  padding-left: 385px;
  padding-right: 385px;
}
.placedatetext * {
  margin-bottom: 5px;
  color: #070211;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

.placedatetext span {
  color: orangered;
}

.placedatetext .place {
  padding-left: 40px;
}

.placedatetext .date {
  padding-left: 20px;
}

.placedatebtn {
  text-align: center;
}

.placedatebtn button {
  text-align: center;
  border-radius: 8px;
  background: #f00;
  margin-top: 40px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.bestoffersection {
  padding-top: 15px;
}

.bestoffer {
  background: #fff;
  height: 435px;
}

.bestoffercontainer {
  display: flex;
  gap: 35px;
}

.bestoffertext * {
  margin-bottom: 5px;
}

.bestoffertext h5 {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bestoffertext h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.bestoffertext p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 393px; /* 160% */
}

.bestofferimage img {
  width: 100%;
}

.bestofferdate * {
  margin-bottom: 20px;
}
.bestofferdate h3 {
  color: red;
}

.bestofferdate img {
  width: 140px;
  height: 140px;
  /* margin: 0 auto; */
}

.functional {
  height: 1000px;
}

.functionaltext * {
  text-align: center;
  margin-bottom: 15px;
}

.functionaltext h5 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.functionaltext h2 .Holidays {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.functionaltext h2 .sale {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.functionaltext p {
  padding-left: 20px;
  padding-right: 32px;
  width: 1068px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

.functionlaimage {
  /* position: relative; */
}

.divTop {
  display: flex;
  /* gap: 5px; */
  justify-content: space-between;
}

.divTop img {
}

.awesomeportfoliosection {
  height: 1300px;
}

.divBottom,
.divTop {
  width: 100%;
  /* overflow: hidden; */
}
.divTop {
}
.divBottom {
  /* background-color: aqua; */
  /* position: relative;
  width: 100%;
  height: 100%; */
}

.leftDiv {
  width: 40%;
  /* flex: 50%; */
  /* outline: 2px green solid; */
  position: relative;
}

.leftImage {
  width: 100%;
  position: absolute;
  bottom: -120px;
  z-index: 200;
}
.rightDiv {
  position: relative;
  width: 40%;
  /* outline: 2px blue solid; */
}

.discountimg {
  position: absolute;
  right: 230px;
}

.red {
  width: 100%;
  /* position: absolute; */
  /* z-index: -100; */
}

.firstdiv * {
  margin-bottom: 16px;
}

.firstdiv h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.firstdiv h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.firstdiv p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.portfoliocontainer {
  display: flex;
  gap: 10px;
  padding-top: 24px;
}

/* .portfoliocontainer div {
  bottom-top: 20px;
} */

.imagediv img {
  max-width: 400px;
  height: 450px;
  border-radius: 16px;
  transition: all 2s;
}

.portfoliocontainer .imagediv img:hover {
  padding-bottom: 20px;
}

.subscribe-container {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 616px;
}

.subscribe-main {
  padding: 100px 212px;
  text-align: center;
}

.subscribe-main * {
  margin-bottom: 40px;
}

.subscribe-main img {
  width: 150px;
  height: 150px;
  /* padding-left: 300px; */
}

.subscribe-main h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.subscribe-main p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.subscribe-main form {
  max-width: 850px;
  margin-left: 20px;
  display: flex;
}

.subscribe-main form input {
  flex-grow: 1;
  border: none;
  border-radius: 50px;
  background: #fff;
}

.subscribe-main form button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

footer {
  background: #070211;
}

footer .maindiv {
}

footer .firstcontainer {
}

footer .firstcontainer .textareadiv {
  max-width: 350px;
  height: 80px;
}

footer .firstcontainer .textareadiv p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.firstcontainer {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

footer .phonediv img {
  width: 24px;
  height: 24px;
}

footer .wwwdivcontainer img {
  width: 24px;
  height: 24px;
}

footer .logodiv div {
  margin-bottom: 10px;
}

footer .phonedivcontainer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center center;
}

footer .phonedivcontainer h4 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

footer .phonedivcontainer .phonediv img {
  flex-grow: 1;
  width: 24px;
  height: 24px;
}

footer .wwwdivcontainer {
  display: flex;
  gap: 5px;
  justify-content: center center;
}

footer .wwwdivcontainer .wwwdiv img {
  flex-grow: 1;
  width: 24px;
  height: 24px;
}

footer .wwwdivcontainer h4 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.colored-line {
  width: 1320px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

.secondcontainer {
  height: 100px;
  padding-top: 20px;
}

.secondcontainer .itcontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.finaldiv {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.finaldiv .one {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.finaldiv .two {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
